<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/myStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Teste com Tailwind - Projeto Pets</title>
</head>

<body class="">
    {{> ./partials/navbar}}

    {{#img}}
    <section class="banner" style="background-image: url({{img}})">{{title_banner}}</section>
    <h2 class="text-center text-2xl text-black-700 underline uppercase">{{title}} disponíveis para adoção</h2>
    {{/img}}
    {{^list}}
    <h2 class="text-center text-2xl text-black-700 underline uppercase">Resultado da pesquisa para: "{{q}}"</h2>
    {{/list}}
    <div class="container list">
        {{#list}}
        <div class="item">
            <img src="images/{{image}}" class="item--image" />
            <div class="item--name">{{name}}</div>
            <div class="item--color">Cor: {{color}}</div>
            <div class="item--genre">Gênero: {{sex}}</div>
        </div>
        {{/list}}
    </div>

    {{^list}}
        <div class="text-4xl text-blue-700 text-center mb-10">
            Não encontramos o resultado pesquisado
        </div>
    {{/list}}


    {{> ./partials/footer}}
</body>

</html>